* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
  font-size: 17px;
  background-color: #faf9f9;
  color: #222;
  text-align: center;
  line-height: 1.5;
}

footer {
  padding: 1% 0;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 275px 0px 350px 25px;
  margin: 0 auto;
  width: 400px;
}

.bio {
  padding: 165px 0px 200px 0px;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  text-align: right;
}

p {
  padding: 0px 30px 0px 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.screenshot {
  width: 75%;
  margin-top: 15px;
}

.tech-list {
  text-align: center;
}

.intro {
  text-align: left;
  font-size: 45px;
  font-family: Playfair Display;
}

h2 {
  font-size: 45px;
  font-family: Playfair Display;
}

.contact-info {
  color: #222;
  margin: 0px 15px 0px 0px;
}

h3 {
  font-size: 30px;
}

.button-links {
  width: 150px;
  height: 45px;
  margin: 20px 5px 0px 5px;
  background-color: #faf9f9;
  color: #222;
  transition: all 0.3s ease 0s;
}

.button-links:hover {
  background: #333;
}

.links {
  color: #222;
  font-family: Lato;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}

.links:hover {
  color: #faf9f9;
}

.nav-link {
  color: #222;
}

footer {
  margin: 0 auto;
  width: 400px;
  padding: 250px 0px 400px 15px;
}

.footer-headers {
  text-align: left;
}

.contact {
  text-align: left;
  margin-top: 30px;
}

.app-title {
  display: inline-block;
  position: relative;
}

.app-title:before,
.app-title:after {
  background: #dddedf;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
      top: 50%;
      width: 500%;
}

.app-title:before {
  right: 110%;
}

.app-title:after {
  left: 110%;
}

li > .nav-link,
.contact > .contact-info {
  position: relative;
  color: #222;
  text-decoration: none;
}

li > .nav-link:hover,
.contact > .contact-info:hover {
  color: #222;
}

li > .nav-link:before,
.contact > .contact-info:before {
  content: "";
  position: absolute;
  margin-bottom: -3px;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #222;
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li > .nav-link:hover:before,
.contact > .contact-info:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

i {
  margin-right: 2px;
}